body
{
    margin: 0px;
    background-color: #f8f9fa;
}
.header-img
{
    position: fixed;
}
.whole-parent-div
{
    display: flex;
    padding: 10px;
    padding-left: 60px;
}
.selector-div
{
    /* border: 1px solid black; */
    width: 20%;
    /* background-color: beige; */
}
h4
{
    text-align: center;
}
.branch
{
    background-color:white;
    box-shadow: 0px 2px 10px 1px rgb(148, 147, 147);
    border-radius: 10px
}
.branch:hover
{
    transition: all 1s;
    box-shadow: 0px 3px 15px 5px rgb(148, 147, 147);
}
.card-holder-whole
{
    width: 80%;
    padding-left: 30px;
}
.card-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.card-shadow{
    box-shadow: 0px 2px 10px 1px rgb(148, 147, 147);
}
.card-shadow:hover{
    transition: all 1s;
    box-shadow: 0px 4px 15px 5px rgb(148, 147, 147);
}